<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of the Spelling and Grammar Checker project.
  See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="com.here.validate.svrl.text-rules">
	<!--
		Define package details.
	-->
	<feature extension="package.version" value="1.1.0"/>

		<!--
		This plugin is based on and 'extends' the plugin named below.
	-->
	<require plugin="com.here.validate.svrl"/>

	<!--
		Add new value to list of valid transformation type names.

		See also: http://www.dita-ot.org/2.2/dev_ref/plugin-newtranstype.html
	-->
	<feature extension="dita.conductor.transtype.check" value="auto-correct"/>
	<feature extension="dita.conductor.transtype.check" value="text-rules"/>
	<feature extension="dita.conductor.transtype.check" value="text-rules-echo"/>
	<feature extension="dita.xsl.strings" file="cfg/common/vars/strings.xml"/>


	<!-- Transtype definitions -->
	<transtype name="auto-correct" abstract="false" extends="svrl"
		 desc="DITA Spelling auto-correction">
		<param name="text-rules.ruleset.file" desc="Specifies the ruleset file to use." type="file"/>
	</transtype>
	<transtype name="text-rules" abstract="false" extends="svrl"
		 desc="DITA Spelling and grammar checking">
		<param name="text-rules.ruleset.file" desc="Specifies the ruleset file to use." type="file"/>
	</transtype>
	<transtype name="text-rules-echo" abstract="false" extends="svrl-echo"
		 desc="DITA Spelling and grammar checking and echoes the results to Standard output (stdout)">
		<param name="text-rules.ruleset.file" desc="Specifies the ruleset file to use." type="file"/>
	</transtype>



	<feature extension="ant.import" file="build_dita2text-rules.xml"/>
	<template file="build_dita2text-rules_template.xml"/>
</plugin>